<div class="container padtop-6 padbot-8">
    <div class="row">
        <div class="col-4-sm">
            <div class="poster big">
                <img src="../../../assets/profile.jfif" alt="Creator's Profile Picture">
            </div>
        </div>
        <div class="col">
            <div>
                <h3 style="color:white"><b>MovieApp</b></h3>
                <br>
                <p>Developed by: <b>Juan Fernando Otoya</b> <br>Using Angular.<br><br>Description:</p>
                <ul style="color: white">
                    <li>Background: Computer science stundent</li>
                    <li>University: Pontificia Universidad Javeriana Cali</li>
                    <li>Born in 1997</li>
                </ul>
            </div>
        </div>
    </div>
</div>
