<div routerLink="./movies" class="startbtn">
        <svg height="100vh" width="90vw">
            <text x="50vw" y="35vh" font-size="15vw" fill="white" text-anchor="middle" alignment-baseline="central">MoviesApp</text>
            <rect width="12vw" height="100vh" style="fill:rgba(255, 0, 0, .7);;" />
            <rect x="44vw" y="67vh" rx="15" ry="15" width="12vw" height="8vh" style="fill:rgba(255, 0, 0, .7);;" />
            <text x="50vw" y="70vh" font-size="4vw" fill="white" text-anchor="middle" alignment-baseline="central">Watch</text>
        </svg>
        
</div>